apiVersion: batch/v1
kind: CronJob
metadata:
  name: datadis-gather-starter
  namespace: datadis
spec:
  suspend: false
  schedule: "0 22 */2 * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      backoffLimit: 0
      template:
        metadata:
          labels:
            logger: datadis-logger
        spec:
          hostAliases:
          - ip: "10.0.88.76"
            hostnames:
            - "master1.internal"
          - ip: "10.0.87.95"
            hostnames:
              - "master2.internal"
          - ip: "10.0.88.132"
            hostnames:
              - "worker1.internal"
          - ip: "10.0.86.33"
            hostnames:
              - "worker2.internal"
          - ip: "10.0.87.145"
            hostnames:
              - "worker3.internal"
          - ip: "10.0.86.214"
            hostnames:
              - "worker4.internal"
          - ip: "10.0.129.220"
            hostnames:
              - "kafka1.internal"
          - ip: "10.0.88.175"
            hostnames:
              - "database1-vpn"
          - ip: "10.0.88.151"
            hostnames:
              - "database2-vpn"
          - ip: "10.0.87.50"
            hostnames:
              - "database3-vpn"
          containers:
          - name: datadis-gather-starter
            image: 1l41bgc7.c1.gra9.container-registry.ovh.net/beegroup/datadis_ingestor:latest
            command: ["python3", "launcher.py", "-l", "producer", "-n", "10"]
            #command: ["/bin/sh", "-ec", "sleep 1000"]
            env:
              - name: CONF_FILE
                value: "config.json"
            volumeMounts:
            - name: datadis-base-secret
              mountPath: /datadis/config.json
              subPath: config.json
            - name: datadis-plugins-secret
              mountPath: /datadis/plugins/secrets/
          volumes:
          - name: datadis-base-secret
            secret:
              secretName: datadis-base-secret
              items:
              - key: config.json
                path: config.json
          - name: datadis-plugins-secret
            secret:
              secretName: datadis-plugins-secret
          restartPolicy: Never
          imagePullSecrets:
          - name: odin1pullsecret
---
apiVersion: batch/v1
kind: CronJob
metadata:
  name: datadis-gather-consumer
  namespace: datadis
spec:
  suspend: false
  schedule: "10 22 */2 * *"
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      backoffLimit: 0
      completions: 10
      parallelism: 10
      completionMode: Indexed
      template:
        metadata:
          labels:
            logger: datadis-logger
        spec:
          hostAliases:
          - ip: "10.0.88.76"
            hostnames:
            - "master1.internal"
          - ip: "10.0.87.95"
            hostnames:
              - "master2.internal"
          - ip: "10.0.88.132"
            hostnames:
              - "worker1.internal"
          - ip: "10.0.86.33"
            hostnames:
              - "worker2.internal"
          - ip: "10.0.87.145"
            hostnames:
              - "worker3.internal"
          - ip: "10.0.86.214"
            hostnames:
              - "worker4.internal"
          - ip: "10.0.129.220"
            hostnames:
              - "kafka1.internal"
          - ip: "10.0.88.175"
            hostnames:
              - "database1-vpn"
          - ip: "10.0.88.151"
            hostnames:
              - "database2-vpn"
          - ip: "10.0.87.50"
            hostnames:
              - "database3-vpn"
          containers:
          - name: datadis-gather-consumer
            image: 1l41bgc7.c1.gra9.container-registry.ovh.net/beegroup/datadis_ingestor:latest
            command: ["python3", "launcher.py", "-l", "consumer", "-n", "10"]
            env:
              - name: CONF_FILE
                value: "config.json"
            volumeMounts:
            - name: datadis-base-secret
              mountPath: /datadis/config.json
              subPath: config.json
            - name: datadis-plugins-secret
              mountPath: /datadis/plugins/secrets/
          volumes:
          - name: datadis-base-secret
            secret:
              secretName: datadis-base-secret
              items:
              - key: config.json
                path: config.json
          - name: datadis-plugins-secret
            secret:
              secretName: datadis-plugins-secret
          restartPolicy: Never
          imagePullSecrets:
          - name: odin1pullsecret

 #kubectl create secret generic datadis-base-secret --from-file=config.json=config.json -n datadis
 #kubectl create secret generic datadis-plugins-secret --from-file=config_plugin_x.json=config_plugin_x.json --from-file=config_plugin_y.json=config_plugin_y.json -n datadis
